<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
    <a routerLink="register">Register your first account</a>
    <a routerLink="login">  Sign in</a>
  </nav> -->
  <nav *ngIf = "authenticate.isLoggedIn()">
    <a [routerLink]="['/yoga']" routerLinkActive="active">
      <img src="../assets/media/1.png" class="icon" />
    </a>
    <!-- <a [routerLink]="['/customers', 'yoga']" routerLinkActive="active">
      <img src="../assets/media/1.png" class="icon" />
    </a> -->
    <a [routerLink]="['/gain_weight']" routerLinkActive="active">
      <img src="../assets/media/2.png" class="icon" />
    </a>
    <a [routerLink]="['/lose_weight']" routerLinkActive="active">
      <img src="../assets/media/3.png" class="icon" />
    </a>
  </nav>
  <!-- <section>
    <header>
      <h1>Customer Watch List</h1>
      <p class="description">Keeping track of the customer.</p>
    </header>
  </section> -->

<app-menu-bar></app-menu-bar>

<!-- 
<app-menu-bar></app-menu-bar>
<router-outlet></router-outlet> -->
