.container {
    margin-top: 50px;
  }
  
.plan-item{
  padding-left: 0px;
  padding-bottom: 25px;
}

.modify-button {
  text-decoration: none;
}

.buttons {
  display: flex;
}

.plans {
  display: flex;
  justify-content: center;
}
