<div class="ui container">
  <ng4-loading-spinner> </ng4-loading-spinner>
    <div class="ui grid" *ngIf = "authenticate.isLoggedIn()">
      <div *ngFor="let plan of plans">         
        <div class="ui cards plan-item">
          <div class="card">
            <div class="content">
                <div class="header">
                  {{plan.title}}
                </div>
                <br>
                <div class="description">
                  <label class="header">Coach: </label>
                  {{plan.coach}}
                </div>
                <div class="description">
                  <label class="header">type: </label>
                  {{plan.type}}
                </div>
                <br>
              <div class="extra content" buttons>
                <div class="ui two buttons">
                  <div><a class="modify-button" routerLink="/plan-detail/{{plan._id}}"><button class="ui positive basic button">Modify</button></a>
                  </div>
                  <div><button class="ui negative basic button" (click)="deletePlan(plan._id)">Delete</button></div>
                </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui grid plans" *ngIf = "authenticate.isLoggedOut()">
      <div *ngFor="let plan of plans">         
        <div class="ui cards plan-item">
          <div class="card">
            <div class="content">
                <div class="header">
                  {{plan.title}}
                </div>
                <br>
                <div class="description">
                  <label class="header">Coach: </label>
                  {{plan.coach}}
                </div>
                <div class="description">
                  <label class="header">type: </label>
                  {{plan.type}}
                </div>
                <br>
              <div class="extra content" buttons>
                <div class="ui two buttons">
                  <div *ngIf = "authenticate.isLoggedIn()"><a class="modify-button" routerLink="/plan-detail/{{plan._id}}"><button class="ui positive basic button">Modify</button></a>
                  </div>
                  <div *ngIf = "authenticate.isLoggedIn()"><button class="ui negative basic button" (click)="deletePlan(plan._id)">Delete</button></div>
                </div>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

