<div class="ui container">
    <ng4-loading-spinner> </ng4-loading-spinner>
    <div class="ui grid">
      <div *ngFor="let customer of customers">         
        <div class="ui cards customer-item">
          <div class="card">
            <div class="content">
                <div class="header">
                  {{customer.firstName}} {{customer.lastName}}
                </div>
                <br>
                <div class="description">
                  <label class="header">Email: </label>
                  {{customer.email}}
                </div>
                <div class="description">
                  <label class="header">Plan: </label>
                  {{customer.plan}}
                </div>
                <br>
              <div class="extra content" buttons>
                <div class="ui three buttons">
                  <button class="ui basic green button">Approve</button>
                  <a routerLink="/detail/{{customer._id}}"><button class="ui basic blue button">Modify</button></a>
                  <button class="ui basic red button" (click)="deleteCustomer(customer._id)">Delete</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

