<div class="register-container">
  <form name="registerForm" class="ui big form" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="field">
      <label>First Name</label>
      <input type="text" name="firstName" placeholder="First Name" ngModel>
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="lastName" placeholder="Last Name" ngModel>
    </div>
    <div class="field">
      <label>Phone</label>
      <input type="text" name="phone" placeholder="Phone" ngModel>
    </div>
    <div class="field">
      <label>Email</label>
      <input type="text" name="email" placeholder="Email" ngModel email> 
    </div>
    <br> 
    <button type="submit" class="ui primary button float left floated">Register</button>
  </form>
  <!-- <mat-form-field>
      <mat-select placeholder="Plan selection" [(ngModel)]="selectedValue" name = "plans" (change)="changePlan($event.value)">
        <mat-option *ngFor="let plan of plans" [value]="plan.name">
          {{plan.name}}
        </mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-form-field>
        <mat-select placeholder="Plan selection" [(ngModel)]="selectedValue" name = "plans" (change)="changePlan($event.value)">
          <mat-option *ngFor="let plan of plans" [value]="plan.name">
            {{plan.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
</div>