<div class="register-container">
  <form name="registerForm" class="ui big form" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
    <div class="field">
      <label>First Name</label>
      <input type="text" name="firstName" placeholder="First Name" ngModel>
    </div>
    <div class="field">
      <label>Last Name</label>
      <input type="text" name="lastName" placeholder="Last Name" ngModel>
    </div>
    <div class="field">
      <label>Phone</label>
      <input type="text" name="phone" placeholder="Phone" ngModel>
    </div>
    <div class="field">
      <label>Email</label>
      <input type="text" name="email" placeholder="Email" ngModel email> 
    </div>

    <!-- <div class="inline fields">
        <label>Interested training plan:</label>
          <input type="radio" required name="type" value="A" ngModel> A-Slim<br>
          <input type="radio" required name="type" value="B" ngModel> B-Muscle<br>
          <input type="radio" required name="type" value="C" ngModel> C-Fitness<br>
    </div> -->
    <button type="submit" class="ui primary button float right floated">Register</button>

  </form>

    <mat-form-field>
        <mat-select placeholder="Plan selection" [formControl]="planControl" [(ngModel)]="selectedValue" name = "plans">
          <mat-option *ngFor="let plan of plans" [value]="plan.name">
            {{plan.name}}
          </mat-option>
        </mat-select>
        <!-- <mat-hint>{{planControl.value?.name}}</mat-hint> -->
    </mat-form-field>
</div>